{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div>
        <h1>Bienvenido</h1>
        <p>Investor Sim es un juego en el que podrás
            experimentar como es operar en la bolsa. Comenzas con <strong>U$S 20.000</strong> el 1 de junio de 2017 y
            vas a poder comprar entre 8 acciones diferentes
            que están disponibles con los precios históricos reales. Para hacerlo divertido vas a poder saltear los dias
            y las semanas para ver rapidamente
            como tu capital crece (o pierde valor).</p>
    </div>
    <div class="row login-container">
        <div class="col login bordered">
            <h3>Iniciar sesión</h3>
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Usuario</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                           placeholder="Ingresar usuario">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Contraseña</label>
                    <input type="password" class="form-control" id="exampleInputPassword1"
                           placeholder="Ingresar contraseña">
                </div>
                <button type="submit" class="btn btn-primary">Iniciar sesión</button>
            </form>
        </div>
        <div class="col login">
            <h3>Registrarme</h3>
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Usuario</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                           placeholder="Ingresar usuario">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Contraseña</label>
                    <input type="password" class="form-control" id="exampleInputPassword1"
                           placeholder="Ingresar contraseña">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Repetir contraseña</label>
                    <input type="password" class="form-control" id="exampleInputPassword1"
                           placeholder="Repetir contraseña">
                </div>
                <button type="submit" class="btn btn-primary">Registrarme</button>
            </form>
        </div>
    </div>

</div>
{% endblock %}