{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Top de inversores</h2>
    <div class="row extra-padding">
        <div class="col">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Usuario</th>
                    <th scope="col">Capital final</th>
                    <th scope="col">Cantidad de transacciones</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>user11242</td>
                    <td>U$S 42.0000</td>
                    <td>84</td>
                </tr>
                <tr>
                    <td>user11242</td>
                    <td>U$S 42.0000</td>
                    <td>84</td>
                </tr>
                <tr>
                    <td>user11242</td>
                    <td>U$S 42.0000</td>
                    <td>84</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col"></div>
    </div>


</div>
{% endblock %}